#dateBox{
  border: 3px solid black;
  width: 49%;
  margin-left: 30px;
  margin-top: 20px;
  text-align: left;
  padding: 5px;
  font-size: 40px;
  float: left;
}

.box{
  border: 3px solid black;
  width: 50%;
  margin-left: 30px;
  margin-top: 70px;
  text-align: left;
  padding: 5px;
  font-size: 40px;
  float: left;
}
.button{
  background-color: white;
  border-color: white;
  border-style: solid;
}
#circle1{
  margin-top: 200px;
  width: 200px;
}
#circle2{
  margin-top: 50px;
  width: 200px;
}
#circle3{
  margin-top: 50px;
  width: 200px;
}
#circle4{
  margin-top: 50px;
  width: 200px;
}

#photo{
  float: right;
  width: 150px;
  height: 150px;
  margin: 0px;
}
